body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f7f7f7;
}

.menuNavFadeRight {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 85%,
    rgb(255, 255, 255) 100%
  );
}

.menuNavFadeLeft {
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0) 85%,
    rgb(255, 255, 255) 100%
  );
}

.categoryUnderline::after {
  content: "";
  display: block;
  height: 2px;
  background: #004f71;
  transition: width 0.3s;
  position: absolute;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
  animation: underlineGrow 0.3s ease forwards; /* Adjust the duration (0.5s) and easing as needed */
}
@keyframes underlineGrow {
  0% {
    width: 0;
  }
  70% {
    width: 100%;
  }
  100% {
    width: 80%;
  }
}
